html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("../assets/lab-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#p5-canvas-container {
  margin-bottom: 20px;
  transform: translate(0%, -50%);
}

#terminal-container {
  transform: translate(-8.5%, -205%);
  /* Increased height to match the new canvas size */
}

.begin-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgb(24, 24, 24);
  color: rgb(64, 168, 64);
  border: green;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translate(625%, 460%);
  font-family: 'Courier New', Courier, monospace;
}

.begin-button:hover {
  background-color: rgb(7, 39, 5);
}